{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<a href="{{path('app_security_logout')}}" class="btn btn-danger">Me déconnecter</a>

	<div class="account-view">
		<div class="container">
			<h1 class="display-4 text-center">Bienvenue sur votre compte</h1>
			<p class="lead text-center">Bonjour,
				{{app.user.firstName}}
				votre demande concerne :</p>

			<div class="row mt-5 mb-5">
				<div class="col-md-4 d-flex justify-content-center align-items-center">
					<a href="{{path('app_account_demande_materiel')}}">
						<div class="rounded-circle overflow-hidden border border-dark" style="width: 200px; height: 200px;">
							<img src="{{asset('images/materiel.jpg')}}" alt="Image ordinateur" class="w-100 h-100">
						</div>
						<h6 class="text-center mt-3">Materiel/logiciel</h6>
					</a>
				</div>

				<div class="col-md-4 d-flex justify-content-center align-items-center">
					<a href="{{path('app_account_demande_atrium')}}">
						<div class="rounded-circle overflow-hidden border" style="width: 200px; height: 200px;">
							<img src="{{asset('images/atrium.jpg')}}" alt="Image logo Atrium" class="w-100 h-100">
						</div>
						<h6 class="text-center mt-3">Atrium</h6>
					</a>
				</div>

				<div class="col-md-4 d-flex justify-content-center align-items-center">
					<a href="{{path('app_account_demande_autres')}}">
						<div class="rounded-circle overflow-hidden border border-dark" style="width: 200px; height: 200px;">
							<img src="{{asset('images/autres.jpg')}}" alt="Image autres" class="w-100 h-100">
						</div>
						<h6 class="text-center mt-3">Autres</h6>
					</a>
				</div>
			</div>

			<p class="lead">
				Vos dernieres demandes :
			</p>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Salle</th>
						<th scope="col">Description</th>
						<th scope="col">Type de demande</th>

					</tr>
				</thead>
				<tbody>
					{% for d in demandes %}
						<tr class="table-active">
							<th scope="row">
								{% if d.category.name == 'materiel' %}
									{{ d.salles is not null ? d.salles.name : 'Salle non spécifiée' }}
								{% endif %}
							</th>
							<td>{{ d.description }}</td>
							<td>{{ d.category.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>


	</div>

{% endblock %}
