{% extends 'base.html.twig' %}

{% block title %}Demande Materiel
{% endblock %}

{% block body %}
	<div class="container">
		<div>
			<div class="mb-5">
				<h1>Votre demande de type matériel et logiciel</h1>
			</div>

			<p>Veuillez remplir le formulaire ci-dessous :</p>


			{{ form_start(formView) }}

			<div class="row">
				<div class="col-md-6 pb-5">
					<form>
						<div class="mb-3">
							{{form_widget(formView)}}
						</div>
						<button type="submit" class="btn btn-primary">Soumettre la demande</button>
					</form>
				</div>


				<div class="col-md-6">
					{% if historiqueDemandes is not empty %}
						<h2>Historiques des demandes de la salle
							{{selectSalle.name}}</h2>

						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Description</th>
									<th scope="col">Statut</th>
								</tr>
							</thead>
							<tbody>
								{% for d in historiqueDemandes %}
									<tr class="table-active">
										<td>{{ d.description|raw }}</td>
										<td>
											{% if d.statut.name == 'En attente' %}
												<span class="badge bg-warning">{{ d.statut.name }}</span>
											{% elseif d.statut.name == 'En cours' %}
												<span class="badge bg-primary">{{ d.statut.name }}</span>
											{% elseif d.statut.name == 'Traitée' %}
												<span class="badge bg-success">{{ d.statut.name }}</span>
											{% else %}
												{{ d.statut.name }}
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{# <div class="navigation">
																																													{{ knp_pagination_render(historiqueDemandes) }}
																																													</div> #}
					{% else %}
						<p>Aucune demande trouvée</p>
					{% endif %}

				</div>
			</div>
			{{ form_end(formView) }}

			<a href="{{path('app_account')}}">Retour sur votre compte</a>

		</div>
	</div>
{% endblock %}
